body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);
    overflow-y: hidden;
}

.mirror {
    transform: scale(-1);
}

.white-dot {
    --res: 4px;
    width: var(--res);
    height: var(--res);
    background-color: #fff;
    border-radius: 100%;
    opacity: 0.7;
    z-index: 10;
}

.dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 10vw;
    min-height: 300vh;
}

.dots-left {
    left: 0;
    animation: dots-move 25s linear infinite;
}

.dots-right {
    right: 0;
    align-items: end;
    animation: dots-move 25s linear reverse infinite;
}

/* Waves Animation start*/

.hero_area {
    position: relative;
    height: 100vh;
}

.waves {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        /* transform: translate3d(-90px, 0, 0); */
        transform: translate3d(0, -45px, 0);
    }

    100% {
        /* transform: translate3d(85px, 0, 0); */
        transform: translate3d(0, 42px, 0);
    }
}

@keyframes dots-move {
    0% {
        bottom: -0%;
    }

    100% {
        bottom: -500%;
    }
}
